<%- include("header") -%>

<h1>This is the about page of the project.</h1>

<p>Hello how are you my name is sarthak a student of IIIT allahabad ,, bas isse jyada kuch ukada nhi hai zindagi me</p>

<%- include ("footer") -%>
